<div class='form-group'>
    <label for='universe' class='control-label col-sm-4'>Universe</label>

    <div class='col-sm-8'>
        <select id='universe' class='form-control'>
            <option value=''>
                {{#if universes}}
                    Please select a universe
                {{else}}
                    <i class='fa fa-refresh fa-spin'></i> Loading universes...
                {{/if}}
            </option>
            {{#each universe in universes}}
                {{#compare universe.id '==' item.universe_id}}
                    <option {{bind-attr value=universe.id}} selected='selected'>{{universe.name}}</option>
                {{else}}
                    <option {{bind-attr value=universe.id}}>{{universe.name}}</option>
                {{/compare}}
            {{/each}}
        </select>
    </div>
</div>
