{{partial 'system/nav'}}

<h2 class='well'>{{model.entity.plural}}</h2>

<p>{{#link-to 'entity.info' model.entity.url 0 class='btn btn-success'}}Create New {{model.entity.name}}{{/link-to}}</p>

<table id='entity-list'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Abbreviation</th>
            <th>Description</th>
            <th>Image</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {{#each item in model.items}}
            <tr>
                <td>{{#link-to 'entity.info' model.entity.url item.id}}{{item.name}}{{/link-to}}</td>
                <td>{{item.abbreviation}}</td>
                <td>{{item.description}}</td>
                <td>{{{item.imageDisplay}}}</td>
                <td>{{{item.linkTo}}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
