{{partial 'system/nav'}}

<h2 class='well'>
    {{#if model.item.id}}
        {{model.item.name}}
    {{else}}
        Create New {{model.entity.name}}
    {{/if}}
</h2>

<form class='form-horizontal' role='form' id='form-version'>
    {{#each field in model.fields}}
        {{#compare field.mapster_entity_field_type.name 'name'}}
            {{name-field item=model.item}}
        {{/compare}}

        {{#compare field.mapster_entity_field_type.name 'description'}}
            {{description-field item=model.item}}
        {{/compare}}

        {{#compare field.mapster_entity_field_type.name 'image'}}
            {{image-field item=model.item}}
        {{/compare}}

        {{#compare field.mapster_entity_field_type.name 'link'}}
            {{link-field item=model.item}}
        {{/compare}}

        {{#compare field.mapster_entity_field_type.name 'abbreviation'}}
            {{abbreviation-field item=model.item}}
        {{/compare}}

        {{#compare field.mapster_entity_field_type.name 'universe'}}
            {{universe-field item=model.item}}
        {{/compare}}

        {{#compare field.mapster_entity_field_type.name 'media'}}
            {{media-field item=model.item}}
        {{/compare}}

        {{#compare field.mapster_entity_field_type.name 'sequence'}}
            {{sequence-field item=model.item}}
        {{/compare}}
    {{/each}}

    {{#if model.item.id}}
        <button class='btn btn-success pull-right' {{action 'update'}}>Update</button>
    {{else}}
        <button class='btn btn-success pull-right' {{action 'create'}}>Create New {{model.entity.name}}</button>
    {{/if}}
</form>

<h3>Versions</h3>

{{#if model.versions}}
    <table id='version-list'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Link</th>
                <th>Created On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{{else}}
    No versions available
{{/if}}
