{{partial 'system/nav'}}

<h2 class='well'>
    {{#if model.item.id}}
        {{model.item.name}}

        {{#if model.entity.changes}}
            {{#link-to 'entity' model.entity.changesUrl class='pull-right'}}View Changes{{/link-to}}
        {{/if}}
    {{else}}
        Create New {{model.entity.name}}
    {{/if}}
</h2>

<form class='form-horizontal' role='form' id='form-version'>
    {{#each field in model.fields}}
        {{component field.mapster_entity_field_type.component item=model.item}}
    {{/each}}

    {{#if model.item.id}}
        <button class='btn btn-success pull-right' {{action 'update'}}>Update</button>
    {{else}}
        <button class='btn btn-success pull-right' {{action 'create'}}>Create New {{model.entity.name}}</button>
    {{/if}}
</form>


{{#if model.item.id}}
    <h3>Versions</h3>

    {{#if model.versions}}
        <table id='version-list'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Link</th>
                    <th>Created On</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each version in model.versions}}
                    <tr>
                        <td>{{version.name}}</td>
                        <td>{{truncate-string version.description 150}}</td>
                        <td>{{{version.imageDisplay}}}</td>
                        <td>{{version.link}}</td>
                        <td>{{date-time-format version.created}}</td>
                        <td><button class='btn btn-success'>Make Live</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        No versions available
    {{/if}}
{{/if}}
