<h2 class='well'>{{model.item.name}}</h2>
<form class='form-horizontal' role='form'>
    {{#each field in model.fields}}
        {{#compare field 'name'}}
            {{name-field item=model.item}}
        {{/compare}}

        {{#compare field 'description'}}
            {{description-field item=model.item}}
        {{/compare}}

        {{#compare field 'image'}}
            {{image-field item=model.item}}
        {{/compare}}

        {{#compare field 'link'}}
            {{link-field item=model.item}}
        {{/compare}}

        {{#compare field 'abbreviation'}}
            {{abbreviation-field item=model.item}}
        {{/compare}}
    {{/each}}

    <button class='btn btn-success pull-right' {{action 'createVersion'}}>Create Version</button>
</form>

<h3>Versions</h3>

{{#if model.versions}}
    <table id='version-list'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
                <th>Description</th>
                <th>Image</th>
                <th>Link</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{{else}}
    No versions available
{{/if}}
